:root {
  //PC端默认字体颜色
  // --g--font-color-for-pc: #606266;
  --g--font-color-for-pc: red;

  // 平台默认边距
  --g--padding-1: 24px;
  --g--padding_2: 12px;
  --g--padding_3: 6px;
  --g--padding_4: 3px;
  
}
