//PC端默认字体颜色
$fontColorForPc: var(--g--font-color-for-pc);

// 平台默认边距
$padding_1: var(--g--padding-1);
$padding_2: var(--g--padding_2);
$padding_3: var(--g--padding_3);
$padding_4: var(--g--padding_4);